<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Bookworms! Online Bookshop</title>
        <link rel="icon" href="static/images/Bookworms_Icon.png" type="image/x-icon">
        <link rel="stylesheet" href="static/stylesheets/styles.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>