<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Bookworms! Online Bookshop</title>
        <link rel="icon" href="static/images/Bookworms_Icon.png" type="image/x-icon">
        <link rel="stylesheet" href="static/stylesheets/styles.css">
    </head>
    <body>
        <header class="bookworm-header">
            <a id="redirect-index" href="#">
                <img src="static/images/Bookworms_Logo.svg" alt="Bookworms! Logo" width="300" height="70">
            </a>
            <a id="fav-list-link" href="#">Fave Books</a>
        </header>
        {{{body}}}
        <footer class="bookworm-footer">
            <p>Copypoopy 2021</p>
        </footer>
    </body>
</html>