<main class="bookworm-main">
    <p>Update the book info.</p>
    <form class="upd-form">
        <input type="text" placeholder="Enter a work title" value="{{titleweb}}"></input>
        <input type="text" placeholder="Enter an author's name" value="{{authorweb}}"></input>
        <input type="text" placeholder="" value="{{workid}}"></input>
        <input type="text" placeholder="Enter a comment" value="{{comment}}"></input>
        <input type="submit" value="save"></input>
    </form>
</main>
