<main class="bookworm-main">
    <p>Update the book info.</p>
    <form class="upd-form">
        <input id="title" type="text" placeholder="Enter a work title" value="{{titleweb}}"></input>
        <input id="author" type="text" placeholder="Enter an author's name" value="{{authorweb}}"></input>
        <input id="wid" type="text" placeholder="" value="{{workid}}" readonly></input>
        <input id="comm" type="text" placeholder="Enter a comment" value="{{comment}}"></input>
        <button id="save-btn" value="save">save</button>
    </form>
</main>
