<main class="bookworm-main">
    <p>Check out your saved books!</p>
    <span class="search-bar">
        <input class="filter-bar" type="text" placeholder="Enter a title, an author or a work id">
    </span>
    <ul class="search-results"></ul>
</main>
