<main class="bookworm-main">
    <p>Find your next read!</p>
    <span class="search-bar">
        <input type="text" placeholder="Enter a title, an author or a work id">
        <input type="submit" value="search"></input>
    </span>
    <ul class="search-results"></ul>
</main>
