<header class="bookworm-header">
    <a id="redirect-index" href="#">
        <img src="static/images/Bookworms_Logo.svg" alt="Bookworms! Logo" width="300" height="70">
    </a>
    <a id="fav-list-link" href="#">Fave Books</a>
</header>
<main class="bookworm-main">
    <p>Search for your desired book!</p>
    <span class="search-bar">
        <input type="text" placeholder="Enter a title or an author">
        <button>search</button>
    </span>
</main>
<footer class="bookworm-footer">
    <p>Copypoopy 2021</p>
</footer>