@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik:wght@300;400&display=swap');

:root {
  --clr--header: #39cc6e;
  --clr--background: #f9f9f9;
  --clr--footer: #373737;
  --clr--text: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid purple;
}

body {
  background-color: var(--clr--background);
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.bookworm-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr--header);
  height: 6rem;
}

#fav-list-link {
  color: var(--clr--text);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}

#fav-list-link:hover {
  color: rgb(191, 209, 243);
  filter: drop-shadow(0.2);
}

.bookworm-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bookworm-main > p {
  color: black;
  font-size: 2rem;
  margin: 8rem auto 4rem;
  font-weight: 600;
}

.search-bar {
  display: flex;
  margin: 0 auto 8rem;
  width: 45%;
  height: 3rem;
}

.search-bar > input {
  width: 80%;
  height: 3rem;
  font-size: 1.1rem;
  padding: 1rem 0 1rem 1rem;
  border-radius: 1vh 0 0 1vh;
  border: none;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.411);
}

.search-bar > button {
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--clr--header);
  color: var(--clr--text);
  border-radius: 0 1vh 1vh 0;
  border: none;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.411);
}

.bookworm-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr--footer);
  height: 9rem;
}

.bookworm-footer > p {
  color: var(--clr--background);
  font-size: 1.6rem;
}
