@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik:wght@300;400&display=swap');

:root {
  --clr--primary: #39cc6e;
  --clr--secondary: #373737;
  --clr--background: #f9f9f9;
  --clr--text: #fff;
  --clr-accent: rgb(247, 59, 168);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr--background);
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.bookworm-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr--primary);
  height: 6rem;
}

#fav-list-link {
  color: var(--clr--text);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}

#fav-list-link:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
  transition: all 0.1s ease 0.1s;
}

.bookworm-main {
  display: block;
  margin: 0 auto;
}

.bookworm-main > p {
  color: var(--clr--secondary);
  font-size: 2rem;
  margin: 8rem auto 4rem;
  font-weight: 600;
  text-align: center;
}

.search-bar {
  display: flex;
  margin: 0 auto;
  width: 50rem;
  height: 3rem;
}

.search-bar > input[type='text'] {
  width: 80%;
  height: 3rem;
  font-size: 1.1rem;
  padding: 1rem 0 1rem 2rem;
  border-radius: 1vh 0 0 1vh;
  border: none;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.411);
}

.search-bar .filter-bar {
  width: 100% !important;
  border-radius: 1vh !important;
}

.search-bar > input:focus {
  outline: none;
}

.search-bar > input[type='submit'] {
  width: 11rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--clr--primary);
  color: var(--clr--text);
  border-radius: 0 1vh 1vh 0;
  border: none;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.411);
}

input[type='submit']:hover {
  cursor: pointer;
  filter: brightness(1.06);
}

.search-results {
  margin: 6rem auto 28.2rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  width: 35rem;
}

.search-results > li {
  padding: 1rem 0;
  border-left: 0.3rem solid var(--clr--secondary);
  margin: 2rem 0;
  padding-left: 1rem;
}

.search-results > li:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease 0.1s;
  border-left: 0.3rem solid var(--clr--primary);
}

.li-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-results p {
  text-align: left;
  margin-bottom: 0.5rem;
}

.hidden-book {
  display: none;
}

.fav-btngroup {
  display: block;
  margin: auto 0;
  padding-left: 2rem;
}

.fav-btngroup > input {
  width: 7rem;
  height: 2.5rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--clr--text);
  font-weight: 700;
}

.edit-btngroup {
  width: min-content !important;
  display: block !important;
  width: fit-content;
  margin: auto 0;
}

#add-fave {
  background-color: var(--clr--primary);
}

#remove-fave {
  background-color: var(--clr--secondary);
  display: none;
}

#visible-remove {
  background-color: var(--clr--secondary);
  margin-bottom: 1rem;
}

#edit-fave {
  background-color: var(--clr-accent);
  margin: 1rem 0;
}

#response-msg {
  margin: 1rem auto;
  transition: 0.2s ease 0.1s;
}

.bookworm-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr--secondary);
  height: 9rem;
}

.bookworm-footer > p {
  color: var(--clr--background);
  font-size: 1.6rem;
}

@media only screen and (max-width: 550px) {
  .search-bar {
    width: 90%;
  }

  .search-results {
    width: 90%;
  }

  .search-bar > input[type='text'] {
    width: 85%;
    padding: 1rem 0 1rem 1rem;
  }
}

@media only screen and (max-width: 992px) and (min-width: 551px) {
  .search-bar {
    width: 80%;
  }

  .search-results {
    width: 70%;
  }

  .search-bar > input[type='text'] {
    width: 85%;
    padding: 1rem 0 1rem 1rem;
  }
}
